.barItemName {
  margin: 4px 4px 0 6px;
}
.barItemProgressbar {
  background: dimgray;
}
.evenColor {
  color: white !important;
}
.colorTier {
  color: dimgray;
}
.colorOrphelins {
  color: lightgray;
}
.colorVoisins {
  color: lightgreen;
}
.colorZero {
  color: green;
}
.someClass:last-child {
  position: absolute;
  right: 5px;
  padding-right: 0;
}
.firstCircle {
  align-items: flex-start !important;
}
.lastCircle {
  align-items: flex-end !important;
}
.active {
  width: 20px !important;
  height: 20px !important;
  background-color: yellow !important;
}
.active2 {
  background-color: yellow !important;
}
.statBars {
  width: 380px;
}
.roulleteS {
  width: 239px;
  height: 300px;
  margin-top: 10px;
  margin-left: 15px;
}
.openBtn {
  position: absolute;
  bottom: 21px;
  right: 80px;
  width: 46px;
  height: 46px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background: rgb(26, 26, 26);
}
.openBtn button {
  border-radius: 46%;
}
.menuButtonPadding {
  width: 100%;
  padding: 17%;
}
.scrollMenu {
  position: relative;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  overflow-y: scroll;
}
.perspective {
  width: 100%;
  position: relative;
  height: 100vh;
  perspective: 100px;
  transform-style: preserve-3d;
}
